<!--Section: Features v.2-->
<section class="text-center container">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold">About us!</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text" style="text-align: left;">Jaiswal Impex was established in October 1986 as an Importer-Exporter and
        providing consultancy services to get the benefits from Govt. of India.
        Currently we are exporting superior quality of Indian spices and Basmati Rice
        in the International market.
        <br><br>
        Our Spices are processed by First Cryogenic Grinding Technology for
        producing inimitable range of quality spices. All the food products are certified
        by various food regulators such as FSSAI, HACCP and is ISO - 9001-2008
        certified too.<br><br>
        The Success Mantra for us is by providing product which is value for money
        and fulfil our customer’s expectation with high standards.
        We have our overseas office in Sofia, Bulgaria under the name of Jaiswal
        Impex OOD.<br><br>
        Our organisation provide high standard of goods and services to our clients.
        And we have many satisfied clients around the world and in India.
        We are the Member of EPCH – Export Promotion Council of Handicrafts,
        MSME- Micro, Small, Medium Enterprise from Ministry of Commerce India and
        Chamber of Commerce, Bulgaria.</p>

        <h2 class="h1 py-5 font-weight-bold">What makes us great?</h2>
  
    <!--Grid row-->
    <div class="row text-left">
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="bullhorn" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Marketing</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda.</p>
          <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="cogs" size="2x" class="pink-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Customization</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda.</p>
          <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="tachometer-alt" size="2x" class="purple-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Support</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda.</p>
          <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.2-->

<br>

